<header>
  <div class="logo-wrapper">
    <img src="../../../assets/favicon.ico" alt="logo" />
    <p>سامانه تحلیل داده ستاره</p>
  </div>

  <ul>
    <li><a href="/">خانه</a></li>
    <li><a href="/register">ثبت نام</a></li>
    <li><a href="/login">ورود</a></li>
  </ul>
</header>

<section class="section-1">
  <div class="top">
    <div class="info-wrapper">
      <p class="main-title">
        داده تمیز، سالم <br />
        و دست نخورده برای همه
      </p>
      <p class="sub-title">بدون داده تمیز، همه چیز به خطر میوفتد</p>
    </div>

    <div class="chart-wrapper">
      <img
        src="../../../assets/images/blue-chart-1.png"
        class="chart blue-chart"
        alt=""
      />
      <img src="../../../assets/images/red-chart-1.png" class="chart red-chart" alt="" />
    </div>

    <div class="chart-info">
      <i class="big-dot" data-timeline="1400"></i>
      <i class="small-dot"></i>

      <i class="big-dot" data-timeline="1399"></i>
      <i class="small-dot"></i>

      <i class="big-dot" data-timeline="1398"></i>
      <i class="small-dot"></i>

      <i class="big-dot" data-timeline="1397"></i>
    </div>
  </div>
  <div class="bottom"></div>
</section>

<section class="section-2">
  <div class="chart-wrapper">
    <div class="info-wrapper">
      <img src="../../../assets/images/pie-chart-red.png" alt="" />
      <p class="chart-percentage">85%</p>
    </div>
    <p class="chart-info">تحیل و تجزیه داده‌ها در لحظه</p>
  </div>

  <div class="chart-wrapper">
    <div class="info-wrapper">
      <img src="../../../assets/images/pie-chart-blue.png" alt="" />
      <p class="chart-percentage">32%</p>
    </div>
    <p class="chart-info">ضرب خطای کمتر نسبت به پلتفرم‌های رقیب</p>
  </div>

  <div class="chart-wrapper">
    <div class="info-wrapper">
      <img src="../../../assets/images/pie-chart-dark-blue.png" alt="" />
      <p class="chart-percentage">69%</p>
    </div>
    <p class="chart-info">زمان کمتر برای داده پردازی</p>
  </div>
</section>

<section class="section-3">
  <div class="info">
    <h1>با ما رویاهات رو دقیق اندازه بگیر</h1>
    <p>
      یه متنی مینویسیمیه متنی مینویسیمیه متنی مینویسیمیه متنی مینویسیمیه متنی مینویسیم
    </p>
    <p>
      یه متنی مینویسیمیه متنی مینویسیمیه متنی مینویسیمیه متنی مینویسیمیه متنی مینویسیم
    </p>

    <button routerLink="/register">ثبت نام</button>
  </div>

  <div class="charts">
    <div class="chart-wrapper">
      <i class="chart first-chart"></i>
      <div class="chart-info">
        <p>یه چیزی</p>
        <p>68%</p>
      </div>
    </div>

    <div class="chart-wrapper">
      <i class="chart second-chart"></i>
      <div class="chart-info">
        <p>یه چیزی</p>
        <p>56%</p>
      </div>
    </div>

    <div class="chart-wrapper">
      <i class="chart third-chart"></i>
      <div class="chart-info">
        <p>یه چیزی</p>
        <p>82%</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>حقوق این سایت وابسته به مجتمع کداستار میباشد</p>
</footer>
