<header>
  <div class="logo-wrapper">
    <img src="../../../assets/favicon.ico" alt="logo" />
    <p>سامانه تحلیل داده ستاره</p>
  </div>

  <ul>
    <li><a href="#">خانه</a></li>
    <li><a href="#">ثبت نام</a></li>
    <li><a href="#">ورود</a></li>
  </ul>
</header>

<section class="section-1">
  <div class="top">
    <div class="info-wrapper">
      <p class="main-title">
        داده تمیز، ساده <br />
        و دست نخورده برای همه
      </p>
      <p class="sub-title">بدون داده تمیز، همه چیز به خطر میوفتد</p>
    </div>

    <div class="chart-wrapper">
      <img
        src="../../../assets/images/blue-chart-1.png"
        class="chart blue-chart"
        alt=""
      />
      <img src="../../../assets/images/red-chart-1.png" class="chart red-chart" alt="" />
    </div>

    <div class="chart-info">
      <i class="big-dot" data-timeline="1400"></i>
      <i class="small-dot"></i>

      <i class="big-dot" data-timeline="1399"></i>
      <i class="small-dot"></i>

      <i class="big-dot" data-timeline="1398"></i>
      <i class="small-dot"></i>

      <i class="big-dot" data-timeline="1397"></i>
    </div>
  </div>
  <div class="bottom"></div>
</section>
