.top_toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    ._right {
        display: flex;
        button {
            margin: 0.5rem;
            border-radius: var(--border-radius-3) !important;
            background: var(--clr-primary) !important;
        }
        button[disabled='disabled'],
        button:disabled {
            background: transparent !important;
        }
        .custom-dropzone {
            height: 5rem;
            overflow: hidden;
            margin: 0.5rem;
            ngx-dropzone-label {
                font-weight: bold;
                padding: 1.5rem;
            }
        }
    }
}

.mat-icon {
    vertical-align: middle;
}

.demo-table {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-row:hover .mat-cell {
    background: var(--clr-red-61-5);
}

.demo-row-is-clicked {
    font-weight: bold;
}

.mat-column-name {
    width: 35%;
}

.mat-column-connectionName {
    width: 20%;
}

.mat-column-created {
    width: 20%;
}

.mat-column-star {
    width: 2%;
}

@media only screen and (max-width: 600px) {
    .top_toolbar {
        display: flex;
        flex-direction: column;
        ._right {
            flex-direction: column;
        }
    }
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1), 0px 8px 10px 1px rgba(0, 0, 0, 0.07), 0px 3px 14px 2px rgba(0, 0, 0, 0.06) !important;
}