<section class="container">
  <div class="_right">
    <h2>ورود به اکانت</h2>
    <div class="inputs">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>نام کاربری</mat-label>
          <input matInput required />
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>رمز عبور</mat-label>
          <input matInput required />
          <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
        <mat-checkbox class="example-margin" color="primary"
          >رمز عبور مرا به خاطر بسپار !
        </mat-checkbox>
        <br />
        <button mat-flat-button color="primary">ورود</button>
      </form>
    </div>
    <a href="/"> بازگشت به صفحه‌اصلی </a>
  </div>
  <div class="_left">
    <div class="banner">
      <h1>سامانه تحلیل داده ستاره</h1>
      <h4>می خواهید ثبت نام کنید ؟</h4>
      <button mat-stroked-button color="white" routerLink="/register">ثبت نام</button>
    </div>
  </div>
</section>
