<app-pipeline-header [pipelineId]="pipelineId"></app-pipeline-header>

<div id="graph-container"></div>
<div class="zoomControls">
    <button (click)="onZoomInBtn()" id="zoomInBtn">
      <img src="../../../assets/images/icons/zoom-in-button.svg" alt="" class="zoomSvg">
    </button>
    <button (click)="onZoomOutBtn()" id="zoomOutBtn">
    <img src="../../../assets/images/icons/zoom-out-button.svg" alt="" class="zoomSvg">
    </button>
</div>
<!-- <button (click)="onExportBtn()">export graph</button>
<button (click)="onClearGraph()">clear graph</button> -->