<app-pipeline-header (toggleDetail)="showSidebar = !showSidebar"></app-pipeline-header>

<app-sidebar [show]="showSidebar"></app-sidebar>

<div id="graph-container"></div>
<!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
<div class="zoomControls">
  <button (click)="onZoomInBtn()" id="zoomInBtn">
    <img src="../../../assets/images/icons/zoom-in-button.svg" alt="" class="zoomSvg" />
  </button>
  <button (click)="onZoomOutBtn()" id="zoomOutBtn">
    <img src="../../../assets/images/icons/zoom-out-button.svg" alt="" class="zoomSvg" />
  </button>
</div>

<app-preview></app-preview>

<button (click)="onExportBtn()">export graph</button>
