<div mat-dialog-title>
    <div class="searchBox">
        <input type="text" placeholder="جست و جو..." />
    </div>
    <h2>افزودن پردازشگر</h2>
</div>
<mat-dialog-content class="mat-typography">
    <div class="processor-category">
        <ul class="processor-category__lists">
            <li class="processor-category__list">
                <div class="processor-category__content">
                    <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                    <p>توضیحات مربوط به این پردازشگر</p>
                </div>
            </li>
            <li class="processor-category__list">
                <div class="processor-category__content">
                    <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                    <p>توضیحات مربوط به این پردازشگر</p>
                </div>
            </li>
            <li class="processor-category__list">
                <div class="processor-category__content">
                    <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                    <p>توضیحات مربوط به این پردازشگر</p>
                </div>
            </li>
            <li class="processor-category__list">
                <div class="processor-category__content">
                    <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                    <p>توضیحات مربوط به این پردازشگر</p>
                </div>
            </li>
        </ul>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>انصراف</button>
</mat-dialog-actions>