<div mat-dialog-title>
    <h2>افزودن پردازشگر</h2>
    <div class="searchBox">
        <input type="text" placeholder="جست و جو..." />
        <button class="searchBox-button" id="searchBtn">
            <img src="../../../../assets/images/icons/search-button.svg" alt="" />
        </button>
    </div>
    <div class="close-modal" mat-button [mat-dialog-close]="true" cdkFocusInitial>
        <button id="close-profile-button">&times;</button>
    </div>
</div>
<mat-dialog-content class="mat-typography">
    <div class="processor-category">
        <h5 class="processor-category__title">عنوان این دسته بندی</h5>
        <ul class="processor-category__lists">
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <div class="processor-category">
        <h5 class="processor-category__title">عنوان این دسته بندی</h5>
        <ul class="processor-category__lists">
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
    <div class="processor-category">
        <h5 class="processor-category__title">عنوان این دسته بندی</h5>
        <ul class="processor-category__lists">
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
            <li class="processor-category__list">
                <button class="processor-category__button">
                    <div class="processor-category__content">
                        <img src="../../../../assets/images/icons/join-button.svg" alt="" />
                        <div class="processor-info">
                            <span class="processor-info__name">نوع عملیات</span>
                            <p>توضیحات مربوط به این پردازشگر</p>
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</mat-dialog-content>
<!-- <mat-dialog-actions>
    <button mat-button mat-dialog-close class="close-modal-button">انصراف</button>
</mat-dialog-actions> -->