@font-face {
  font-family: vazir;
  src: url('../assets/font/vazir/Vazir-Regular-FD.eot');
  src: url('../assets/font/vazir/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/vazir/Vazir-Regular-FD.woff2') format('woff2'),
    url('../assets/font/vazir/Vazir-Regular-FD.woff') format('woff'),
    url('../assets/font/vazir/Vazir-Regular-FD.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: vazir;
  src: url('../assets/font/vazir/Vazir-Bold-FD.eot');
  src: url('../assets/font/vazir/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/vazir/Vazir-Bold-FD.woff2') format('woff2'),
    url('../assets/font/vazir/Vazir-Bold-FD.woff') format('woff'),
    url('../assets/font/vazir/Vazir-Bold-FD.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: vazir;
  src: url('../assets/font/vazir/Vazir-Thin-FD.eot');
  src: url('../assets/font/vazir/Vazir-Thin-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/vazir/Vazir-Thin-FD.woff2') format('woff2'),
    url('../assets/font/vazir/Vazir-Thin-FD.woff') format('woff'),
    url('../assets/font/vazir/Vazir-Thin-FD.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: vazir;
  src: url('../assets/font/vazir/Vazir-Light-FD.eot');
  src: url('../assets/font/vazir/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/vazir/Vazir-Light-FD.woff2') format('woff2'),
    url('../assets/font/vazir/Vazir-Light-FD.woff') format('woff'),
    url('../assets/font/vazir/Vazir-Light-FD.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: vazir;
  src: url('../assets/font/vazir/Vazir-Medium-FD.eot');
  src: url('../assets/font/vazir/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/vazir/Vazir-Medium-FD.woff2') format('woff2'),
    url('../assets/font/vazir/Vazir-Medium-FD.woff') format('woff'),
    url('../assets/font/vazir/Vazir-Medium-FD.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: vazir;
  src: url('../assets/font/vazir/Vazir-Black-FD.eot');
  src: url('../assets/font/vazir/Vazir-Black-FD.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/vazir/Vazir-Black-FD.woff2') format('woff2'),
    url('../assets/font/vazir/Vazir-Black-FD.woff') format('woff'),
    url('../assets/font/vazir/Vazir-Black-FD.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
}
