:host {
  font-size: 2rem;
  height: 100vh;

  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  mat-drawer {
    width: 21rem;
    border: none !important;
  }

  mat-drawer-container {
    height: 100%;
  }

  mat-drawer-content {
    // padding: 2rem 2.5rem 2rem 2rem;
  }
}
