.mat-icon {
  vertical-align: middle;
  margin: 0 1rem;
  margin-right: 0.5rem;
}

.mat-nav-list {
  height: 100%;

  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0;
}

.mat-list-item {
  color: var(--clr-white);
}

a {
  font-size: var(--font-size-16);
  margin-bottom: 0.5rem;

  &:hover {
    background: var(--clr-red-61-5) !important;
  }
}

.list-item-active {
  background: var(--clr-secondary) !important;

  &:hover {
    background: var(--clr-secondary) !important;
  }
}
