<mat-nav-list>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
    <mat-icon class="material-icons-outlined">add</mat-icon>
    شروع
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/pipelines">
    <mat-icon class="material-icons-outlined">scatter_plot</mat-icon>
    پایپ لاین ها
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard/datasets">
    <mat-icon class="material-icons-outlined">insert_chart</mat-icon>
    دیتا ست ها
  </a>

</mat-nav-list>
